<h1>Enter a quarter to filter by here#new</h1>
<%= form_with(model: @ActiveQuarter) do |form| %>
    <%= form.text_field :currentQuarter %>
    <%= form.submit %>
<%end%>


<p>Find me in app/views/acitve_quarters/new.html.erb</p>
